[submodule "cookbooks/base-chef"]
	path = cookbooks/base-chef
	url = git://github.com/jpd4nt/base-chef.git
[submodule "cookbooks/webserver-chef"]
	path = cookbooks/webserver-chef
	url = git://github.com/jpd4nt/webserver-chef.git
[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/imagemagick"]
	path = cookbooks/imagemagick
	url = git://github.com/opscode-cookbooks/imagemagick.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/ant"]
	path = cookbooks/ant
	url = git://github.com/opscode-cookbooks/ant.git
[submodule "cookbooks/maven"]
	path = cookbooks/maven
	url = git://github.com/opscode-cookbooks/maven.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/webserver-dev-chef"]
	path = cookbooks/webserver-dev-chef
	url = git@github.com:jpd4nt/webserver-dev-chef.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = git://github.com/opscode-cookbooks/ark.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = git://github.com/customink-webops/phantomjs.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = git://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/cron"]
	path = cookbooks/cron
	url = git://github.com/opscode-cookbooks/cron.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = git://github.com/opscode-cookbooks/windows.git
[submodule "cookbooks/iis"]
	path = cookbooks/iis
	url = git://github.com/opscode-cookbooks/iis.git
[submodule "cookbooks/chocolatey"]
	path = cookbooks/chocolatey
	url = git://github.com/chocolatey/chocolatey-cookbook.git
[submodule "cookbooks/powershell"]
	path = cookbooks/powershell
	url = git://github.com/opscode-cookbooks/powershell.git
[submodule "cookbooks/ms_dotnet2"]
	path = cookbooks/ms_dotnet2
	url = git://github.com/juliandunn/ms_dotnet2.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = git://github.com/juliandunn/chef_handler.git
[submodule "cookbooks/ms_dotnet4"]
	path = cookbooks/ms_dotnet4
	url = git://github.com/Webtrends/ms_dotnet4.git
[submodule "cookbooks/ms_dotnet45"]
	path = cookbooks/ms_dotnet45
	url = git://github.com/Webtrends/ms_dotnet45.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = git://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = git://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = git://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = git://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/pacman"]
	path = cookbooks/pacman
	url = git://github.com/opscode-cookbooks/pacman.git
[submodule "cookbooks/newrelic"]
	path = cookbooks/newrelic
	url = git://github.com/escapestudios-cookbooks/newrelic.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = git://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = git://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/aws"]
	path = cookbooks/aws
	url = git://github.com/opscode-cookbooks/aws.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/xfs"]
	path = cookbooks/xfs
	url = git://github.com/opscode-cookbooks/xfs.git
[submodule "cookbooks/mysql-chef_gem"]
	path = cookbooks/mysql-chef_gem
	url = git://github.com/opscode-cookbooks/mysql-chef_gem.git
[submodule "cookbooks/homebrew"]
	path = cookbooks/homebrew
	url = git://github.com/opscode-cookbooks/homebrew.git
